# file description according to Barr standard
snippet dfile
/** @file ${1:filename}
 * 
 * @brief ${2:Brief description}
 *
 * @author Gergo Ibolya
 */
endsnippet

snippet dfunc
/**
 * 
 * @brief ${1:Brief description}
 *
 * @return ${2:return value} 
 */
endsnippet
