########
# MATH #
########

snippet dfrac "Fraction" w
\dfrac{$1}{$2}$0
endsnippet

##############
# REFERENCES #
##############

snippet eqref "Equation reference" w
\ref{eq:$1} $0
endsnippet

##########
# THESIS #
##########
snippet uin "Cell avg" w
u_{i$1}^{n$2}
endsnippet

snippet rec "Reconstruction" w
\tilde{u}^{n}(x,t_{n$1}) $0
endsnippet

snippet xlr "x left" w
x_{i $1 1/2}$0
endsnippet
